:root {
  --dark-colors-accent----dark: #b4a186;
  --dark-colors-light-gray---dark: #9a9a9a;
  --dark-colors-gray---dark: #3d3d3d;
  --dark-colors-dark-gray---dark: #272727;
  --dark-colors-black---dark: #0a0a0a;
  --dark-colors-white---dark: #fbfbfb;
  --light-colors-errors---light: #d82700;
  --light-colors-accent---light: #a18a68;
  --light-colors-black---light: #000000;
  --light-colors-dark-gray---light: #707070;
  --light-colors-gray---light: #d8d8d8;
  --light-colors-light-gray---light: #efefef;
  --light-colors-white---light: #fff;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* HEADER */

.header__logo svg {
}
